<html>
    <head>
        <title>Node Js</title>
    </head>
    <body>
        <!-- To Include Navigation as Partial Template -->
        <%- include('partials/nav.ejs') -%>
        <h2>Profile Page...</h2>
        <h4>
            Person Name is as Follos:- <%= personName %> <%= personData.lastName %>
            <h5>Nick Name of the Person is <%= personData.nickName %></h5>
            <h5>Age is <%= personData.age %></h5>
            <h5>Designation is <%= personData.occupation %></h5>
            <h5>Hobbies are :-
                <ul>
                    <% personData.hobbies.forEach(function(hobby){ %>
                        <li><%= hobby %></li>
                    <% }) %>
                </ul>
            </h5>
        </h4>
    </body>
</html>